li {
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  background: red;
}
.editOff {
  display: none;
}
.editOn {
  display: block;
}

.delete {
  width: 100px;
  background-color: #000;
  height: 30px;
}
